<!DOCTYPE html>
<html>

<head>
    <title>FEKT Obrazovky</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="manifest" href="/static/site.webmanifest">
    <link rel="mask-icon" href="/static/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/page.css') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
    <h3>No image or video</h3>
    <meta http-equiv="refresh" content="60" />
</body>

</html>