<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/page.css') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script>
        var i = 0;
        var images = {{ images | tojson }};
        var slideTime = 3000;
        var video = document.getElementById("backgroundVid");


        function changePicture() {
            document.getElementById("backgroundImg").src = images[i];

            if (i < images.length) {
                i++;
                setTimeout(changePicture, slideTime);
            } else if (i > images.length - 1) {
                document.location.reload(true)
                return
            }
        }
        window.onload = changePicture;
    </script>
</head>

<body>
    <img id="backgroundImg" class="center" src="" />
</body>

</html>