<!DOCTYPE html>
<html>

<head>
    <title>FEKT Obrazovky</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="manifest" href="/static/site.webmanifest">
    <link rel="mask-icon" href="/static/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/page.css') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script>
        var i = 0;
        var files = {{ files | tojson }};
        var slideTime = 15000;


        function change() {
            if (i >= files.length) {
                document.location.reload(true)
                return
            }
            var prev_file = files[i]
            if (i > 0) {
                var j = i - 1;
                var old = document.getElementById("background-" + j);
                old.classList.remove('visible');
                old.classList.add('invisible');
            }
            var item = document.getElementById("background-" + i);
            item.classList.remove('invisible');
            item.classList.add('visible');
            var file = files[i];
            i++;

            if (file.type.includes("image")) {
                setTimeout(change, slideTime);
            } else {
                item.addEventListener('ended', function () { change() }, false);
                item.load();
                item.play();
            }
        }
        window.onload = change;
    </script>
</head>

<body>
    <div class="container">
        {%for file in files %}
        {% if 'image' in file.type %}
        {% if loop.index0 == 0 %}
        <img id="background-{{ loop.index0 }}" class="visible" src="{{ file.url }}" />
        {% else %}
        <img id="background-{{ loop.index0 }}" class="invisible" src="{{ file.url }}" />
        {% endif %}
        {% else %}
        <video id="background-{{ loop.index0 }}" class="invisible" muted>
            <source id="vidSrc" src={{ file.url }} type="{{ file.type }}" />
            Your browser does not support HTML5 video.
        </video>
        {% endif %}
        {%endfor%}
    </div>



</body>

</html>