<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/page.css') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script>
        var i = 1;
        var videos = {{ videos | tojson }};
        console.log(videos);


        function videoHandler(e) {
            if (i > videos.length - 1) {
                document.location.reload(true)
            }
            var video = document.getElementById("backgroundVid");
            document.getElementById('vidSrc').src = videos[i];
            console.log(videos[i], i)
            video.load();
            video.play();
            i++;

        }
        window.onload = function () {
            var video = document.getElementById("backgroundVid");
            document.getElementById('vidSrc').src = videos[0];
            video.addEventListener('ended', videoHandler, false);
            video.load();
            video.play();
        };
    </script>
</head>

<body>
    <video id="backgroundVid" autoplay muted>
        <source id="vidSrc" src="" type="video/mp4" />
        Your browser does not support HTML5 video.
    </video>
</body>

</html>